C 0 0 "SW_1" 0 0 0 0 60 0 L
X "PIN_TEXT" "SW_1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "SW_2" 0 -100 0 0 60 0 L
X "PIN_TEXT" "SW_2" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "SW_3" 0 -200 0 0 60 0 L
X "PIN_TEXT" "SW_3" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "PG" 0 -300 0 0 60 0 L
X "PIN_TEXT" "PG" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 400 -900 "FB" 400 -900 0 0 60 0 L
X "PIN_TEXT" "FB" 430 -670 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -700 400 -900 -1 0
C 500 -900 "AGND" 500 -900 0 0 60 0 L
X "PIN_TEXT" "AGND" 530 -670 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -700 500 -900 -1 0
C 600 -900 "FSW" 600 -900 0 0 60 0 L
X "PIN_TEXT" "FSW" 630 -670 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -700 600 -900 -1 0
C 700 -900 "DEF" 700 -900 0 0 60 0 L
X "PIN_TEXT" "DEF" 730 -670 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -700 700 -900 -1 0
C 1200 0 "PVIN_2" 1200 0 0 0 60 0 R
X "PIN_TEXT" "PVIN_2" 970 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 0 1200 0 -1 0
C 1200 -100 "PVIN_1" 1200 -100 0 0 60 0 R
X "PIN_TEXT" "PVIN_1" 970 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -100 1200 -100 -1 0
C 1200 -200 "AVIN" 1200 -200 0 0 60 0 R
X "PIN_TEXT" "AVIN" 970 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -200 1200 -200 -1 0
C 1200 -300 "SS/TR" 1200 -300 0 0 60 0 R
X "PIN_TEXT" "SS/TR" 970 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -300 1200 -300 -1 0
C 400 700 "EP" 400 700 0 0 60 0 R
X "PIN_TEXT" "EP" 430 470 90 0.00 60 0 0 2 0 0 1 0 74
L 400 500 400 700 -1 0
C 500 700 "PGND_2" 500 700 0 0 60 0 R
X "PIN_TEXT" "PGND_2" 530 470 90 0.00 60 0 0 2 0 0 1 0 74
L 500 500 500 700 -1 0
C 600 700 "PGND_1" 600 700 0 0 60 0 R
X "PIN_TEXT" "PGND_1" 630 470 90 0.00 60 0 0 2 0 0 1 0 74
L 600 500 600 700 -1 0
C 700 700 "VOS" 700 700 0 0 60 0 R
X "PIN_TEXT" "VOS" 730 470 90 0.00 60 0 0 2 0 0 1 0 74
L 700 500 700 700 -1 0
C 800 700 "EN" 800 700 0 0 60 0 R
X "PIN_TEXT" "EN" 830 470 90 0.00 60 0 0 2 0 0 1 0 74
L 800 500 800 700 -1 0
L 200 500 1000 500 -1 0
L 1000 -700 1000 500 -1 0
L 1000 -700 200 -700 -1 0
L 200 500 200 -700 -1 0
P "$LOCATION" "?" 1050 670 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

